* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #dff3f8;
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(135deg, #9ceaf8,#d8e9f3);
  color: white;
  text-align: center;
  padding: 3rem 1rem;
  border-bottom: 4px solid #06a2be;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.section {
  background: white;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.section h2 {
  color:#06a2be;
  margin-bottom: 1rem;
  text-align: center;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 100px;
}


.icons a {
  display: inline-block;
  font-size: 18px;
  color: #333;
  margin-left: 150px;
  margin-bottom: 20px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s;
  margin-top: 25px;
}

.icons a:hover {
  color:#06a2be;
  transform: translateY(-3px);
}

button {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.9rem;
  background:#06a2be;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #045483;
}

#form-status {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  color: green;
}

footer {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  background: #d8e9f3;
  color: #555;
  font-size: 0.9rem;
}